* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
.wrapper {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.navbar {
  width: 100%;
  height: 55px;
  background-color: #24262b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner video {
  position: absolute;
  top: 50.5px;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 80vh;
}
.title {
  text-decoration: none;
  font-size: 4vh;
  margin-top: 100px;
  color: rgb(255, 255, 255);
  padding: 14px 17px;
  z-index: 1;
  text-align: center;
  vertical-align: center;
}
.title p{
  font-size: 4vh;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.title h1 {
  font-size: 12vh;
  font-weight: 700;
  text-shadow: 2px black;
  transition: ease 0.3s;
}
.title h1:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.button {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 22px;
  border: 2px solid #000;
  padding: 14px 70px;
  border-radius: 50px;
  border-color: white;
  margin-top: 35px;
  transition: 0.7s;
}

.button:hover {
  transform: scale(1.1);
  background-color: rgb(222, 47, 47);
  color: #fff;
}
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.text h2 {
  font-size: 40px;
  font-weight: 650;
  margin-bottom: 10px;
  line-height: 2;
  text-align: center;
}

.rowitems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.container-box {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 22%;
  padding: 50px 10px;
  transition: all 0.7s ease 0s;
  cursor: pointer;
}

.container-image img {
  height: 100px;
  width: 100px;
  padding: 10px;
  margin-bottom: 15px;
}

.container-box h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 550;
}

.container-box p {
  font-size: 16px;
  color: #808080;
}

.container-box:hover {
  transform: translateX(3px);
  box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
  border: 1px solid transparent;
  border-radius: 0px;
}



.search-container {
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 8px;
  width: 200px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Styles for the highlighted location */
.selected {
  border: 2px solid #007bff;
}

/* Styles for the locations */
#locations {
  display: flex;
  justify-content: center;
 margin-bottom: 20px;
}

.location {
  display: none;
  color: white;
  background-color: #30c46b;
  font-size: 20px;
  padding: 5px;
  margin: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}



.heading a {
  font-size: 40px;
  font-weight: 750;
  text-decoration: none;
  color: #000;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: -65px;
}
.heading a:hover {
  color: #000;
}
.box {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  /* border: 1px solid #000; */
  justify-content: space-between;
}
.box1 {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  /* border: 1px solid #000; */
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: row;
  flex-basis: 23%;
  height: auto;
}

.card-img-top {
  height: 300px;
}
.image-overlay {
  position: absolute;
  top: 253px;
  left: 120px;
  color: white;
  font-size: 32px;
  font-weight: 700;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
}
.price {
  display: flex;
  flex-direction: row;
}
.card-body h2 {
  display: flex;
  float: left;
  font-weight: 500;
  color: #000;
}
.card-body h1 {
  background-color: rgb(235, 45, 45);
  width: 110px;
  padding: 7px;
  margin-left: 3vw;
  margin-bottom: 20px;
  display: flex;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.card-title{
  font-size: 25px;
  font-family: cursive;
  font-weight: 100;
}
.card.selected {
  border: 2px solid #007bff;
}
#rev{
  margin-top: 70px;
}
.review {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.review-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 10px;
  cursor: pointer;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
.review-block:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.review-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
}
.review-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.review-text {
  text-align: center;
  margin-bottom: 10px;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.star {
  color: gold;
  font-size: 24px;
  margin: 0 2px;
}

#About-us{
  margin-top: 70px;
  
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction:row ;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 320px;
  height: 320px;
  display: flex;
  flex-basis: 35%;
}
.photo img{
  width: 320px;
  height: 320px;
}
.content {
  width: auto;
  flex-basis: 65%;
}

h2 {
  font-size: 24px;
  color: #e91e63;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

.read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.read-more:hover {
  color: white;
  background-color: #f90a0a;
}

#contct-form{
  margin-top: 100px;
}
.contact {
  background-color: rgb(236, 235, 235);
}
.contact h3 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact p {
  margin-top: 5px;
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}
#contact-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box form {
  width: 40%;
}
#contact-box label {
  font-size: 1.3rem;
  font-family: "Bree Serif", serif;
}
.footercon {
  width: 100%;
  min-height: 200px;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
.footer {
  background-color: #24262b;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
}
.footer-col {
  width: 20%;
  padding: 0 15px;
}
.footer-col h4 {
  color: #fff;
  text-transform: capitalize;
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 1em;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  display: block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}
.footer-col .social-links {
  margin-left: 30px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
  /* text-align: center; */
}
.sponsers {
  margin-left: 30px;
}
.sponsers img {
  height: 45px;
  width: 115px;
  display: list-item;
  margin: 0 10px 10px 0;
  text-align: center;
}
.sponsers img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
@media only screen and (max-width: 1400px) {
  .banner video {
    margin-top: 255px;
  }
  .banner {
    margin-top: 160px;
  }
  .title h1 {
    font-size: 5vh;
    font-weight: 700;
  }
  .body {
    margin-top: 100px;
  }
  .container-fluid {
    width: 100%;
    background-color: #24262b;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-nav {
    width: 100%;
    background-color: #24262b;
  }

  .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
    place-items: center;
  }
  .box1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 680px;

    place-items: center;
  }

  .card {
    margin-bottom: 60px;
    width: 100%;
  }
  .image-overlay {
    top: 253px;
    left: 95px;
  }
  #rev {
    margin-top: 800px;
  }
  .review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-items: center;
  }
  .footer {
    background-color: #24262b;
    padding: 10px 0;
  }
  .footer-col {
    width: 50%;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 1232px){
  .container {

    display: flex;
    flex-direction: column;
  }
  .content h2{
    margin-top: 30px;
  }
}
@media only screen and (max-width: 970px) {
  #locations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    
  }
  .location{
    margin: 10px 5px;
  }
 
  .review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    place-items: center;
  }
}
@media only screen and (max-width: 820px) {
  .title h1 {
    font-size: 5vh;
    font-weight: 700;
  }
  .rowitems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    place-items: center;
  }

  .container-box {
    width: 270px;
    padding: 20px 10px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 645px) {
  .review {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    place-items: center;
  }
}
@media only screen and (max-width: 590px) {
  .rowitems {
    display: flex;
    flex-direction: column;
  }
  .box {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin-bottom: 1297px;
    margin-top: 1010px;
  }
  .box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
  }

  #contact-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contact-box label {
    margin-left: -48px;
  }
  #contact-box input,
  #contact-box textarea {
    width: 280px;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    margin-left: -50px;
  }
}
@media only screen and (max-width: 450px) {
  .banner video {
    margin-top: 255px;
  }
  .banner {
    margin-top: 160px;
  }
  .title h1 {
    font-size: 5.7vh;
    font-weight: 700;
  }
  .title p{
    font-size: 3.5vh;
    color: rgb(255, 255, 255);
    font-weight: 100;
  }
  .body {
    margin-top: 100px;
  }

  .navbar .container {
    width: 100%;
    background-color: #24262b;
  }
  .navbar-nav {
    width: 100%;
    background-color: #24262b;
  }
  .text h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 36px;
  }
  
  .heading a {
    margin-bottom: 40px;
  }
  .box {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin-bottom: 1210px;
    margin-top: 900px;
  }
  .box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    margin-bottom: 40px;
    width: 100%;
  }
  .image-overlay {
    top: 253px;
    left: 95px;
  }
  .card-body h1 {
    padding: 5px 10px;
  }
  #rev {
    margin-top: 720px;
  }
  .footer {
    background-color: #24262b;
    padding: 10px 0;
  }
  .footer-col {
    width: 50%;
    padding: 0 10px;
  }
}
